.navbar {
    background-color: #ffffff;
    height: 70px;
}

.navbar-brand img {
    max-height: 60px;
}

.navbar-brand {
    margin-right: 200px;
}

.nav-link {
   
    margin-right: 30px;
    font-weight: bold;
 
}

.dropdown-menu {
    background-color: #ffffff;
}

.dropdown-menu a:hover {
    background-color: #5674f9;
    font-weight: bold;
  
}
.sign{
    margin-left: 5px;
}